body {
	background-color: #924136;
	color: F6FBFB;
}

a {
	color: C6CFEA;
}


.hidden {
	display: none;
}

tr.Done, tr.Never, tr.Broken, tr.Inactive, tr.Hold, tr.Unplayed, tr.Active {
	color:#000000; 
}

tr.Done a, tr.Never a, tr.Broken a, tr.Inactive a, tr.Hold a, tr.Unplayed a, tr.Active a {
	color:#000000; 	
}


tr.Done, tr.Done td {
	/* color:#000000; 
	display: none; */
	background-color: #cccccc;
}

tr.Never {
	background-color: #ead1dc;
	/* display: none; */
}

tr.Broken {
	background-color: #f9cb9c;
	/* display: none; */
}

tr.Inactive {
	background-color: #fff2cc;
}

tr.Hold {
	background-color: #d9ead3;
}

tr.Unplayed {
	/* background-color: #cf32f3; */
	background-color: #fce5cd;
}

tr.Active {
	background-color: #ffffff;
}

tr.Game {
	background-color: #ffffff;
}

tr.App {
	background-color: #d0e0e3;
}
tr.Bundle {
	background-color: #f4cccc;
}
tr.TopBundle {
	background-color: #f4cccc;
}
tr.SubBundle {
	background-color: #fff2cc;
}

tr.Reward {
	background-color: #d5a6bd;
}
tr.Dupe {
	background-color: #f9cb9c;
}
tr.Card {
	background-color: #d5a6bd;
}

tr.CardSell {
	background-color: #d5a6bd;
	/* Sold: d5a6bd 
	   Purchased: c27ba0
	   */	
}
tr.CardBuy {
	background-color: #c27ba0;
	/* Sold: d5a6bd 
	   Purchased: c27ba0
	   */	
}

tr.Coupon {
	background-color: #93c47d;
}
tr.Music {
	background-color: #d9ead3;
}
tr.Art {
	background-color: #b4a7d6;
}
tr.Video {
	background-color: #b6d7a8;
}
tr.Book {
	background-color: #d9d2e9;
}
tr.Duplicate {
	background-color: #f9cb9c;
}

tr.DLC {
	background-color: #cfe2f3;
}

tr.Selected {
	background-color: #ff9900;
}

td.text{
	text-align: left;
}
td.numeric{
	text-align: right;
}
a.Search{
	color: #cccccc;
}

td.greenCell{
	color: #000000;
	background-color: #b7e1cd;
}
td.redCell{
	color: #000000;
	background-color: #f4cccc;
}

tr.greenRow, tr.redRow, tr.greenRow a:visited, tr.redRow a:visited{
	color:black;
}


/* unvisited link */
tr.greenRow a:link, tr.redRow a:link {
  color: red;
}

/* mouse over link */
tr.greenRow a:hover, tr.redRow a:hover {
  color: hotpink;
}

/* selected link */
tr.greenRow a:active, tr.redRow a:active {
  color: blue;
}

tr.greenRow{
	background-color: #b7e1cd;
}
tr.redRow{
	background-color: #f4cccc;
}


span.duplicate{
	color: #999999;
}
table thead {
  /* background-color: #eeeeee; */
  background-color: #dcedc1; 
  Color: Black;
}
table {
	border-collapse: collapse;
	padding: 3px;
}

table, th, td {
	border: 1px solid grey;
	padding: 4px;
}

thead th {
	background-color: #dcedc1;
	position: sticky;
	top: 50px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);	
}

.foot {
	background-color: #ffcc66;
	Color: Black;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);	
}



.hoverTable tr:hover {
	background-color: #ffff99;
}

/*
//TODO: Stickey column headings need manual adjustment for multi-row headers
//TODO: Stickey column headings show behind CSS fancy checkboxes
//TODO: CSS fancy checkboxes appear below inline text
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-wrap:wrap ;
}

.flex-item {
	margin: 10px;
}
