<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
		 
		 backupGlobals="true"
		 timeoutForSmallTests="1"
		 timeoutForMediumTests="5"
		 timeoutForLargeTests="30"
		 colors="true"
		 columns="67"
		 >
    <testsuites>
        <testsuite name="default">
            <directory>htdocs\Game-Library\server</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="false">
        <include>
            <directory suffix=".php">htdocs\Game-Library\server</directory>
        </include>
        <exclude>
            <directory suffix=".php">htdocs\Game-Library\server\tests</directory>
            <directory suffix=".php">htdocs\Game-Library\server\img</directory>
            <directory suffix=".php">htdocs\Game-Library\server\ext</directory>
        </exclude>
    </coverage>
</phpunit>
